/*Overlying Style*/

/*Page Setup Style*/
@font-face	{
  font-family: sf;
  src: url(../Fonts/SanFransico/sf.otf);
}

@font-face	{
  font-family: sf_light;
  src: url(../Fonts/SanFransico/sf_thin.otf);
}

@font-face  {
  font-family: sf_bold;
  src: url(../Fonts/SanFransico/sf_bold.otf);
}

* {
  margin: 0px;
  padding: 0px;
}

html  {
  height: 2500px;
  min-width: 360px;

}

title {
  display: none;
}
/*Page Setup Style End*/
body  {
  min-width: 480px;
}

main  {
  z-index: 0;
}

/*Navbar Stlye*/
.outerNavbar {
  min-width: 480px;
  width: 100%;
  z-index: 1;
}

.Navbar  {
  width: 100%;
  height: 100px;
  z-index: 3;
}

#logo-img {
  background-image: url(../Images/logo.png);
  background-size: 89px 90px;
  border-radius: 44.5px;
  background-repeat: no-repeat;
  height: 90px;
  width: 89px;
  overflow: hidden;
}




.navbar-underly {
  background-color: whitesmoke;
  min-width: 360px;
  width: 100%;
  height: 100px;
  z-index: -1;
  opacity: .8;
}

.Navbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 5px auto;
  max-width: 1300px;
  height: 90px;
}

.navbariteam  {
  margin: auto;
  font-size: 25px;
  display: inline;
  font-family: sf_light;
  height: 31px;
  width: auto;
}

.navbariteam a {
  text-decoration: none;
  color: black;
}

.navbariteam a:hover {
  text-decoration: underline;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.compressNav {
  display: none;
  height: 39px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 35px;
}

.compressNav:hover  {
  opacity: .9;
}
/*Navbar Style End*/

@media (min-width: 360px) {

}

@media (max-width: 768px) {
  .navbariteam {
    margin-top: 0px;
    margin-bottom: 29.5px;


  }

  #logo-img {
    margin: initial;
    margin-left: 15px;
  }

  .compressNav {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0px;
  }

  .Navbar {
    height: 342px;
  }

  .Navbar ul  {
    height: 332px;

  }

  .compressNav  {
    margin-top: 25.5px;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 768px) {
  #logo-img {
    margin: auto;
  }
}