/*other jobs Style*/
/*Navbar Style*/
.Navbar  {
  position: fixed;
}

.navbar-underly {
  position: fixed;
}
/*End Navbar Style*/

#beginningBanner  {
  background-image: url("../Media/Images/corperateBanner.jpg");
  background-size: auto;
  height: 80vh;
  min-width: 360px;
  width: 100%;
}

.blur {
  position: absolute;
  height: 80vh;
  width: 100%;
  background-color: black;
  opacity: .5;
  z-index: 1;
}

.banner h1  {
  position: fixed;
  height: max-content;
  margin: auto;
  margin-top: 40vh;
  left: 50%;
  text-align: center;
  font-family: sf_pro_display_bold, sans-serif;
  color: whitesmoke;
  z-index: 2;
}

/*Responsive Adjust Style*/
@media (min-width: 360px) {
  .banner h1  {
    width: 332px;
    font-size: 4.5rem;
    margin-left: -176px;
  }
}

@media (min-width: 768px) {
  .banner h1  {
    width: 678px;
    font-size: 6rem;
    margin-left: -339px;
  }
}

@media (min-width: 1068px) {
  .banner h1  {
    width: 791px;
    font-size: 7rem;
    margin-left: -395.5px;
  }
}

@media (min-width: 1268px) {
  .banner h1  {
    width: 791px;
    font-size: 7rem;
    margin-left: -395.5px;
  }
}
/*End Responsive Adjust Style*/
