/*Education Page Style*/
/*Page Setup Style*/
body  {
  height: 1700px;
}

main {
  width: 100%;
  min-width: 360px;
  padding-top: 100px;

}
/*End Page Setup Style*/

/*Navbar Style*/
.Navbar  {
  position: fixed;
  border-bottom: 2px solid black;
}

.navbar-underly {
  position: fixed;
}
/*End Navbar Style*/

/*highSchool Style*/
#highSchool h1 {

}

.titleBar {
  width: 100%;
  position: absolute;
  height: max-content;
}

.titleBar h1  {
  width: max-content;
  font-family: sf_pro_display_bold, sans-serif;
  margin: 0;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  position: relative;
  font-size: 6.5rem;
}

#university h1  {

}

.containerBody  {
  background-color: whitesmoke;
  display: flex;
  height: 725px;
}

.underline  {
  height: 4px;
  z-index: 0;
  border-radius: 4px;
  opacity: 0;
  display: block;
  margin-top: -26px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#highSchoolUnderline  {
  background-color: #4ac2c4;
  width: 571.28px;
}

#universityUnderline  {
  background-color: #f85e08;
  width: 361.18px;
}

.generalInfo {
  margin: auto;
  width: 50%;
  height: max-content;
  margin-top: 185px;
}

.generalInfo h2  {
  font-family: sf_pro_display_regular, sans-serif;
  width: max-content;
  margin: 0;
  margin-right: auto;
  margin-left: 18%;
  margin-bottom: 20px;
  font-size: 5rem;
}

.hsGradYear {
  font-family: sf_pro_display_bold, sans-serif;
}

.generalInfo p {
  font-family: sf_pro_display_regular, sans-serif;
  font-size: 1.1rem;
  width: 50%;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.generalInfo p1  {
  font-family: sf_pro_display_regular, sans-serif;
  font-size: 1.5rem;
  margin: auto;
  margin-left: 18%;
  width: 50%;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.progress {
  margin-left: 18%;
}

.progress-bar-number  {
  font-family: sf_pro_display_medium !important;
  color: whitesmoke;
  font-size: 1.5rem !important;
  width: min-content !important;
  position: absolute;
  align-self: center;
  display: none;
  top: 465px !important;
  left: 9.5%;
}

#GPAanimate {
  width: 300px;
  height: 40px;
}

.extracurricular  {
  margin: auto;
  width: 50%;
  height: max-content;
  margin-top: 185px;
}

.extracurricular h2 {
  font-family: sf_pro_display_regular, sans-serif;
  width: max-content;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 5rem;
}

.extracurricular p  {
  font-family: sf_pro_display_regular, sans-serif;
  font-size: 1.1rem;
  width: 50%;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.extracurricular p1 {
  font-family: sf_pro_display_regular, sans-serif;
  font-size: 1.1rem;
  width: 50%;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.synopsis {
  font-family: sf_pro_display_regular, sans-serif;
  bottom: -45px;
  width: 600px;
  position: absolute;
}

.synopsis p {
  font-size: 1.5rem;
}

.synopsis a {
  font-family: sf_pro_display_semibold, sans-serif;
  font-size: 2.5rem;
}
/*End highSchool Style*/

/*Responsive Adjust Style*/
  @media (min-width: 360px) {
    main  {
      height: 1045px;
    }

    .containerBody {

    }

    .leftColumn {

    }

    .extracurricular  {

    }
  }

  @media (min-width: 768px) {
    main  {
      height: 100%;
    }

    .containerBody  {

    }

    .generalInfo {

    }

    .extracurricular  {

    }
  }

  @media (min-width: 1068px) {
    main  {

    }

    .containerBody  {

    }
  }

  @media (max-width: 1268px) {
    .containerBody  {
      display: grid;
      height: 1000px;
    }

    .generalInfo {
      width: 100%;
      height: max-content;
      margin-bottom: 0;
    }

    .generalInfo h1  {
      width: 100%;
      height: max-content;
      margin-top: 0;
    }

    .generalInfo p {

    }

    .generalInfo p1  {

    }

    .extracurricular  {

    }

    .extracurricular h1 {

    }

    .extracurricular p  {

    }

    .extracurricular p1 {

    }
  }
/*End Responsive Adjust Style*/
