/*Education Page Style*/
/*Page Setup Style*/
main {
  width: 100%;
  min-width: 360px;
  padding-top: 100px;
  align-items: center;
  background: #7ad7d9;
}
/*End Page Setup Style*/

/*Navbar Style*/
.Navbar  {
  position: fixed;
  border-bottom: 2px solid black;
}

.navbar-underly {
  position: fixed;
}
/*End Navbar Style*/

/*highSchool Style*/
.containerBody  {
  box-shadow: -4px 5px 10px black;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid black;
  justify-content: space-evenly;
}

#highSchool h1 {
  width: max-content;
  font-family: sf_pro_display_bold, sans-serif;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 2;
}

#university h1  {
  width: max-content;
  font-family: sf_pro_display_bold, sans-serif;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 2;
}

.underline  {
  position: absolute;
  height: 8px;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10px;
  border-radius: 4px;
  opacity: 0;
}

#highSchoolUnderline  {
  width: 240px;
  background-color: #4ac2c4;
}

#universityUnderline  {
  width: 160px;
  background-color: #f85e08;
}

.leftColumn {
  margin: auto;
  height: 150px;
}

.leftColumn h2  {
  font-family: sf_pro_display_regular, sans-serif;
}

.leftColumn p {
  font-family: sf_pro_display_regular, sans-serif;
  font-size: 1.1rem;
  width: min-content;
  min-width: 190px;
}

.leftColumn p1  {
  font-family: sf_pro_display_regular, sans-serif;
  font-size: 1.1rem;
}

.centerSplit  {
  height: 115px;
  width: 4px;
  background-color: black;
  margin: auto;
  opacity: 0;
}

.rightColumn  {
  height: 150px;
}

.rightColumn h2 {
  font-family: sf_pro_display_regular, sans-serif;
}

.rightColumn p  {
  margin-top: 5%;
  font-family: sf_pro_display_regular, sans-serif;
  font-size: 1.1rem;
}

.rightColumn p1 {
  font-family: sf_pro_display_regular, sans-serif;
  font-size: 1.1rem;
}
/*End highSchool Style*/

/*Responsive Adjust Style*/
  @media (min-width: 360px) {
    main  {
      height: 1045px;
    }

    .containerBody {
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      width: 350px;
      height: 425px;
    }

    .leftColumn {
      margin-top: 25%;
      width: 230px;
    }

    .rightColumn  {
      margin-top: 8%;
      margin: auto;
      width: 230px;
    }
  }

  @media (min-width: 768px) {
    main  {
      height: 100%;
    }

    .containerBody  {
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      display: flex;
      height: 325px;
      width: 512px;
    }

    .leftColumn {
      margin: auto;
      width: auto;
    }

    .rightColumn  {
      margin: auto;
      width: auto;
    }
  }

  @media (min-width: 1068px) {
    main  {
      height: 100%;
      display: flex;
    }

    .containerBody  {
      height: 325px;
      width: 512px;
    }
  }

  @media (min-width: 1268px) {
    .containerBody  {
      height: 425px;
      width: 612px;
    }

    .leftColumn {
      height: 190px;
    }

    .leftColumn h1  {
      font-size: 2.4rem;
    }

    .leftColumn p {
      font-size: 1.4rem;
      width: 245px;
    }

    .leftColumn p1  {
      font-size: 1.4rem;
    }

    .centerSplit  {
      height: 175px;
    }

    .rightColumn  {
      height: 190px;
    }

    .rightColumn h1 {
      font-size: 2.4rem;
    }

    .rightColumn p  {
      font-size: 1.4rem;
      width: 245px;
    }

    .rightColumn p1 {
      font-size: 1.4rem;
    }
  }
/*Responsive Adjust Style*/
